*{
    margin: 0%;
    padding: 0%;
}

#pagDos{
    display: none;
}

body, header{
    text-align: center;
    background-image: url(https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/School-Clipart/School_Board_and_Notebook_Background.jpg?m=1439952901);
    background-size: cover;
}

header{
    background: green;
    color: black;
    height: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

