*{
    margin: 0%;
    padding: 0%;
}

#pag-dos{
    display: none;
}

body, header{
    text-align: center;
    background-image: url(https://st2.depositphotos.com/1594308/7969/i/950/depositphotos_79696428-stock-photo-schoolgirl-cheating-at-lesson.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;


}

#mensaje{
    width: 40%;
    height: 80px;
    margin-top: 9rem;
}

#resultado{
    width: 40%;
    height: 80px;    
    margin-left: auto;
}

header{
    background: #F3C6AB;
    color: black;
    height: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}



