*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url("../imagenes/fotocaro.jpg");
    background-size: cover;
    
}

#pag-dos{
    display: none;
    
}

body, header{
    text-align: center;
    background-color: black;
}

.result .text{
    justify-content: center;
    display: flex;   
}

header{
    background: rgb(56, 55, 55);
    color: white;
    height: 150%;
    font-size: 400%;
    font-family: 'Bangers', cursive;
}

p{
    font-size: 200%;
    font-family: 'Actor', sans-serif;
    color: white;
    margin-top: 4rem;
}

h1{
    color: white;
    font-family: 'Bangers', cursive;
    
}

h3, h2{
    font-family: 'Actor', sans-serif;
    color: white;
}

.btn {
    width: 150px;
   height: 50px;
   background-color: transparent;
   color:white;
   border: 1.5px solid rgb(255, 255, 255);
   border-radius: 40px;
   line-height: 1.3;
   letter-spacing: 0.1em;
   font-family: 'Dosis', sans-serif;
   transition: all 1s ease;
}






